.brand {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: xx-large;
}

.nav-icon {
  font-size: 1.4rem;
  margin: 0 10px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.nav-icon:hover {
  transform: scale(1.15);
  color: #0d6efd;
}

/* Cart Wrapper */
.cart-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* Badge */
.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;

  background: #dc3545;
  color: white;

  font-size: 11px;
  font-weight: 600;

  min-width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: 0 4px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
