<div class="container vh-100 d-flex justify-content-center align-items-start">
  <div class="card shadow p-4" style="width: 400px">
    <h2 class="text-center fw-semibold mb-4">Sign In</h2>

    <form [formGroup]="signInForm">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" />

        @if (signInForm.get('email')?.touched && signInForm.get('email')?.hasError('required')) {
          <div class="text-danger small mt-1">Email is required</div>
        } @else if (
          signInForm.get('email')?.touched && signInForm.get('email')?.hasError('email')
        ) {
          <div class="text-danger small mt-1">Invalid email address</div>
        }
      </div>

      <!-- Password -->
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" />

        @if (
          signInForm.get('password')?.touched && signInForm.get('password')?.hasError('required')
        ) {
          <div class="text-danger small mt-1">Password is required</div>
        } @else if (
          signInForm.get('password')?.touched && signInForm.get('password')?.hasError('minlength')
        ) {
          <div class="text-danger small mt-1">Minimum 8 characters required</div>
        } @else if (
          signInForm.get('password')?.touched && signInForm.get('password')?.hasError('maxlength')
        ) {
          <div class="text-danger small mt-1">Maximum 16 characters allowed</div>
        }
      </div>

      <button class="btn btn-primary w-100">Sign In</button>

      <div class="text-center mt-3">
        <a routerLink="/signup" class="text-decoration-none"> Don't have an account? </a>
      </div>
    </form>
  </div>
</div>
