<section class="container products w-100">
  @defer {
    <h2 class="mb-4">My Wishlist ❤️</h2>
    @if ((wishlist$ | async)?.length === 0) {
      <div>Your wishlist is empty.</div>
    }

    @if (wishlist$) {
      <div class="row g-4">
        @for (product of wishlist$ | async; track product.id) {
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" (click)="getProductDetails(product.id)">
            <div class="card h-100 shadow-sm product-card">
              <img [src]="product.imageUrl" class="card-img-top product-img" [alt]="product.title" />

              <div class="card-body d-flex flex-column">
                <h5 class="card-title">
                  {{ product.title | truncate: 16 }}
                </h5>

                <p class="card-text grow">
                  {{ product.description | truncate: 60 }}
                </p>

                <p>{{ product.price | currency: 'INR' : 'symbol' }}</p>
                <div class="d-flex justify-content-between gap-3">
                  <button
                    class="btn btn-primary mt-auto"
                    (click)="addToCart(product); $event.stopImmediatePropagation()"
                  >
                    Add to Cart
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    (click)="remove(product.id); $event.stopImmediatePropagation()"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }
  } @loading {
    <div class="text-center p-5">Loading products...</div>
  }
</section>
