<div class="container mt-5">
  <h2 class="mb-4 fw-bold">My Orders</h2>

  @for (order of orders; track order.id; let i = $index) {
    <div class="card order-card mb-4 shadow-sm">
      <!-- ORDER HEADER -->
      <div
        class="card-header d-flex justify-content-between align-items-center order-header"
        (click)="toggleOrder(i)"
      >
        <div>
          <div class="fw-semibold">Order ID: {{ order.id }}</div>
          <div class="text-muted small">Placed on {{ order.date }}</div>
        </div>

        <div class="d-flex align-items-center gap-3">
          <div class="order-total">Total: ₹{{ order.total }}</div>
          <span class="badge bg-success">
            {{ order.status }}
          </span>

          <span class="arrow">
            {{ expandedIndex === i ? '▲' : '▼' }}
          </span>
        </div>
      </div>

      <!-- COLLAPSIBLE BODY -->
      @if (expandedIndex === i) {
        <div class="card-body order-body">
          <!-- ITEMS -->
          @for (item of order.items; track item.id) {
            <div class="order-item">
              <img [src]="item.image" class="order-img" />

              <div class="order-details">
                <div class="item-title">
                  {{ item.title }}
                </div>

                <div class="text-muted small">Quantity: {{ item.quantity }}</div>
              </div>

              <div class="item-price">₹{{ item.price! * item.quantity! }}</div>
            </div>
          }
          <hr />
          <div class="order-total">Total: ₹{{ order.total }}</div>
        </div>
      }
    </div>
  }
</div>
