<div class="container mt-5">
  <h2 class="mb-4">My Orders</h2>

  @for (order of orders; track order.id) {
    <div class="card p-4 mb-4 shadow-sm">
      <div class="d-flex justify-content-between">
        <div>
          <h5>Order ID: {{ order.id }}</h5>
          <p class="text-muted">Date: {{ order.date }}</p>
        </div>
        <div>
          <span class="badge bg-success">
            {{ order.status }}
          </span>
        </div>
      </div>

      <hr />

      <!-- Order Items -->
      @for (item of order.items; track item.id) {
        <div class="d-flex align-items-center mb-3">
          <img [src]="item.image" width="60" height="60" style="object-fit: contain" class="me-3" />
          <div class="grow">
            <div class="fw-semibold">
              {{ item.title }}
            </div>
            <div class="text-muted small">Quantity: {{ item.quantity }}</div>
          </div>
          <div class="fw-bold">₹{{ item.price! * item.quantity! }}</div>
        </div>
      }

      <hr />

      <div class="d-flex justify-content-end fw-bold">Total: ₹{{ order.total }}</div>
    </div>
  }
</div>
